In [7]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

In [8]:
data = pd.read_csv('trips_with_weather.csv')
data.head()

,Unnamed: 0,Input,Output,Station Number,date,day_part,capacity,short_name,station_id,snow,thunder,rain,meantempm,meanwindspdm
0,1369,0,0,12th & Newton St NE,2015-01-01,0,11.0,31501,73,0,0,0,3,13
1,1370,2,0,Wilson Blvd & Franklin Rd,2015-01-01,0,11.0,31020,138,0,0,0,3,13
2,1371,0,1,18th & Eads St.,2015-01-01,0,11.0,31001,2,0,0,0,3,13
3,1372,0,0,18th St & Rhode Island Ave NE,2015-01-01,0,15.0,31510,235,0,0,0,3,13
4,1373,0,0,10th & Florida Ave NW,2015-01-01,0,19.0,31120,274,0,0,0,3,13

In [9]:
data.drop(data.columns[0], axis = 1, inplace=True)
data.drop(['Station Number', 'short_name'], axis = 1, inplace=True)
data.head()

,Input,Output,date,day_part,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm
0,0,0,2015-01-01,0,11.0,73,0,0,0,3,13
1,2,0,2015-01-01,0,11.0,138,0,0,0,3,13
2,0,1,2015-01-01,0,11.0,2,0,0,0,3,13
3,0,0,2015-01-01,0,15.0,235,0,0,0,3,13
4,0,0,2015-01-01,0,19.0,274,0,0,0,3,13

In [10]:
data = data.join( pd.get_dummies(data.day_part, prefix='day_part_'))

data = data.join(pd.get_dummies(data.station_id, prefix='st_id_'))

data.drop('day_part', axis = 1, inplace=True)

data

,Input,Output,date,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm,...,st_id__460,st_id__461,st_id__462,st_id__463,st_id__464,st_id__465,st_id__466,st_id__469,st_id__470,st_id__471
0,0,0,2015-01-01,11.0,73,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
1,2,0,2015-01-01,11.0,138,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
2,0,1,2015-01-01,11.0,2,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
3,0,0,2015-01-01,15.0,235,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
4,0,0,2015-01-01,19.0,274,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2015-01-01,19.0,269,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
6,0,0,2015-01-01,15.0,337,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
7,0,1,2015-01-01,11.0,93,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
8,0,0,2015-01-01,11.0,244,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
9,0,0,2015-01-01,17.0,3,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
10,0,0,2015-01-01,15.0,287,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
11,0,5,2015-01-01,19.0,236,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
12,0,0,2015-01-01,15.0,170,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
13,0,1,2015-01-01,23.0,228,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
14,2,0,2015-01-01,15.0,60,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
15,1,1,2015-01-01,35.0,27,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
16,1,0,2015-01-01,15.0,97,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
17,2,0,2015-01-01,15.0,80,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
18,0,0,2015-01-01,11.0,317,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
19,0,1,2015-01-01,15.0,74,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
20,0,2,2015-01-01,23.0,114,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
21,0,0,2015-01-01,23.0,110,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
22,0,0,2015-01-01,11.0,11,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
23,0,0,2015-01-01,15.0,167,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
24,0,0,2015-01-01,11.0,70,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
25,0,0,2015-01-01,11.0,246,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
26,0,1,2015-01-01,11.0,203,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
27,0,0,2015-01-01,11.0,340,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
28,2,0,2015-01-01,15.0,190,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
29,2,3,2015-01-01,19.0,183,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123748,0,0,2017-04-01,27.0,193,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123749,0,0,2017-04-01,15.0,145,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123750,0,0,2017-04-01,19.0,72,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123751,0,0,2017-04-01,11.0,221,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123752,0,0,2017-04-01,23.0,95,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123753,0,0,2017-04-01,31.0,82,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123754,0,0,2017-04-01,12.0,255,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123755,0,0,2017-04-01,31.0,242,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123756,0,0,2017-04-01,15.0,155,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123757,0,0,2017-04-01,17.0,195,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123758,0,0,2017-04-01,19.0,153,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123759,0,0,2017-04-01,23.0,423,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123760,0,0,2017-04-01,15.0,333,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123761,0,0,2017-04-01,15.0,396,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123762,0,0,2017-04-01,19.0,379,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123763,0,0,2017-04-01,19.0,218,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123764,0,0,2017-04-01,19.0,185,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123765,0,0,2017-04-01,19.0,268,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123766,0,0,2017-04-01,15.0,28,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123767,0,0,2017-04-01,19.0,336,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123768,0,0,2017-04-01,15.0,125,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123769,0,0,2017-04-01,33.0,92,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123770,0,0,2017-04-01,15.0,416,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123771,0,0,2017-04-01,23.0,69,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123772,0,0,2017-04-01,15.0,108,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123773,0,0,2017-04-01,19.0,365,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123774,0,0,2017-04-01,15.0,466,0,0,1,12,23,...,0,0,0,0,0,0,1,0,0,0
1123775,0,0,2017-04-01,15.0,324,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123776,0,0,2017-04-01,15.0,199,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123777,0,0,2017-04-01,11.0,4,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0

In [11]:
train_data = data[pd.to_datetime(data.date).dt.year != 2017].copy()
train_data

,Input,Output,date,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm,...,st_id__460,st_id__461,st_id__462,st_id__463,st_id__464,st_id__465,st_id__466,st_id__469,st_id__470,st_id__471
0,0,0,2015-01-01,11.0,73,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
1,2,0,2015-01-01,11.0,138,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
2,0,1,2015-01-01,11.0,2,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
3,0,0,2015-01-01,15.0,235,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
4,0,0,2015-01-01,19.0,274,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2015-01-01,19.0,269,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
6,0,0,2015-01-01,15.0,337,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
7,0,1,2015-01-01,11.0,93,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
8,0,0,2015-01-01,11.0,244,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
9,0,0,2015-01-01,17.0,3,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
10,0,0,2015-01-01,15.0,287,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
11,0,5,2015-01-01,19.0,236,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
12,0,0,2015-01-01,15.0,170,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
13,0,1,2015-01-01,23.0,228,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
14,2,0,2015-01-01,15.0,60,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
15,1,1,2015-01-01,35.0,27,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
16,1,0,2015-01-01,15.0,97,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
17,2,0,2015-01-01,15.0,80,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
18,0,0,2015-01-01,11.0,317,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
19,0,1,2015-01-01,15.0,74,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
20,0,2,2015-01-01,23.0,114,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
21,0,0,2015-01-01,23.0,110,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
22,0,0,2015-01-01,11.0,11,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
23,0,0,2015-01-01,15.0,167,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
24,0,0,2015-01-01,11.0,70,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
25,0,0,2015-01-01,11.0,246,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
26,0,1,2015-01-01,11.0,203,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
27,0,0,2015-01-01,11.0,340,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
28,2,0,2015-01-01,15.0,190,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
29,2,3,2015-01-01,19.0,183,0,0,0,3,13,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
981216,5,1,2016-12-31,23.0,367,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981217,0,0,2016-12-31,17.0,140,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981218,1,0,2016-12-31,27.0,193,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981219,5,4,2016-12-31,15.0,145,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981220,0,0,2016-12-31,19.0,72,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981221,0,0,2016-12-31,11.0,221,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981222,0,1,2016-12-31,23.0,95,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981223,4,4,2016-12-31,31.0,82,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981224,0,0,2016-12-31,12.0,255,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981225,2,7,2016-12-31,31.0,242,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981226,0,1,2016-12-31,15.0,155,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981227,0,0,2016-12-31,17.0,195,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981228,6,3,2016-12-31,19.0,153,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981229,0,0,2016-12-31,23.0,423,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981230,0,0,2016-12-31,15.0,333,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981231,4,0,2016-12-31,15.0,396,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981232,0,0,2016-12-31,19.0,379,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981233,1,0,2016-12-31,19.0,218,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981234,0,0,2016-12-31,19.0,185,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981235,0,0,2016-12-31,19.0,268,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981236,4,2,2016-12-31,15.0,28,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981237,0,1,2016-12-31,19.0,336,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981238,2,4,2016-12-31,15.0,125,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981239,5,3,2016-12-31,33.0,92,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981240,0,0,2016-12-31,15.0,416,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981241,0,0,2016-12-31,23.0,69,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981242,0,0,2016-12-31,15.0,108,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981243,0,0,2016-12-31,15.0,324,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981244,3,2,2016-12-31,15.0,199,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0
981245,0,1,2016-12-31,11.0,4,0,0,1,4,21,...,0,0,0,0,0,0,0,0,0,0

In [12]:
test_data = data[pd.to_datetime(data.date).dt.year == 2017].copy()
test_data

,Input,Output,date,capacity,station_id,snow,thunder,rain,meantempm,meanwindspdm,...,st_id__460,st_id__461,st_id__462,st_id__463,st_id__464,st_id__465,st_id__466,st_id__469,st_id__470,st_id__471
981246,0,0,2017-01-01,19.0,444,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981247,0,0,2017-01-01,11.0,73,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981248,0,0,2017-01-01,11.0,138,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981249,0,0,2017-01-01,11.0,2,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981250,0,0,2017-01-01,19.0,383,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981251,0,0,2017-01-01,19.0,417,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981252,0,0,2017-01-01,15.0,235,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981253,1,0,2017-01-01,19.0,274,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981254,0,0,2017-01-01,19.0,269,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981255,0,0,2017-01-01,15.0,337,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981256,0,0,2017-01-01,11.0,93,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981257,0,0,2017-01-01,11.0,244,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981258,0,0,2017-01-01,17.0,3,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981259,0,0,2017-01-01,15.0,287,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981260,0,2,2017-01-01,19.0,236,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981261,0,0,2017-01-01,15.0,181,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981262,0,0,2017-01-01,15.0,170,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981263,0,2,2017-01-01,23.0,228,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981264,0,0,2017-01-01,15.0,60,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981265,0,0,2017-01-01,35.0,27,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981266,0,0,2017-01-01,23.0,400,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981267,0,1,2017-01-01,15.0,97,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981268,2,0,2017-01-01,15.0,80,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981269,0,0,2017-01-01,11.0,317,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981270,0,2,2017-01-01,15.0,74,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981271,0,1,2017-01-01,23.0,114,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981272,0,0,2017-01-01,23.0,110,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981273,0,0,2017-01-01,11.0,11,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981274,0,0,2017-01-01,15.0,167,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
981275,0,0,2017-01-01,11.0,70,0,0,0,8,8,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123748,0,0,2017-04-01,27.0,193,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123749,0,0,2017-04-01,15.0,145,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123750,0,0,2017-04-01,19.0,72,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123751,0,0,2017-04-01,11.0,221,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123752,0,0,2017-04-01,23.0,95,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123753,0,0,2017-04-01,31.0,82,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123754,0,0,2017-04-01,12.0,255,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123755,0,0,2017-04-01,31.0,242,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123756,0,0,2017-04-01,15.0,155,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123757,0,0,2017-04-01,17.0,195,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123758,0,0,2017-04-01,19.0,153,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123759,0,0,2017-04-01,23.0,423,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123760,0,0,2017-04-01,15.0,333,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123761,0,0,2017-04-01,15.0,396,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123762,0,0,2017-04-01,19.0,379,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123763,0,0,2017-04-01,19.0,218,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123764,0,0,2017-04-01,19.0,185,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123765,0,0,2017-04-01,19.0,268,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123766,0,0,2017-04-01,15.0,28,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123767,0,0,2017-04-01,19.0,336,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123768,0,0,2017-04-01,15.0,125,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123769,0,0,2017-04-01,33.0,92,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123770,0,0,2017-04-01,15.0,416,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123771,0,0,2017-04-01,23.0,69,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123772,0,0,2017-04-01,15.0,108,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123773,0,0,2017-04-01,19.0,365,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123774,0,0,2017-04-01,15.0,466,0,0,1,12,23,...,0,0,0,0,0,0,1,0,0,0
1123775,0,0,2017-04-01,15.0,324,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123776,0,0,2017-04-01,15.0,199,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0
1123777,0,0,2017-04-01,11.0,4,0,0,1,12,23,...,0,0,0,0,0,0,0,0,0,0

In [13]:
df_test = test_data.copy()
df_test.drop(['date', 'station_id', 'capacity'], axis = 1, inplace=True)
df_test.head()

,Input,Output,snow,thunder,rain,meantempm,meanwindspdm,day_part__0,day_part__6,day_part__12,...,st_id__460,st_id__461,st_id__462,st_id__463,st_id__464,st_id__465,st_id__466,st_id__469,st_id__470,st_id__471
981246,0,0,0,0,0,8,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0
981247,0,0,0,0,0,8,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0
981248,0,0,0,0,0,8,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0
981249,0,0,0,0,0,8,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0
981250,0,0,0,0,0,8,8,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df_train = train_data.copy()
df_train.drop(['date', 'station_id', 'capacity'], axis = 1, inplace=True)
df_train.head()

,Input,Output,snow,thunder,rain,meantempm,meanwindspdm,day_part__0,day_part__6,day_part__12,...,st_id__460,st_id__461,st_id__462,st_id__463,st_id__464,st_id__465,st_id__466,st_id__469,st_id__470,st_id__471
0,0,0,0,0,0,3,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,3,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,3,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,3,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,3,13,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
X_train = df_train.drop(['Input', 'Output'], axis = 1).values
y_train = df_train[['Input', 'Output']].values

In [16]:
X_test = df_test.drop(['Input', 'Output'], axis = 1).values
y_test =df_test[['Input', 'Output']].values

In [10]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

model = DecisionTreeRegressor()
model.fit(X_train, y_train)

my_y = model.predict(X_test)
my_y.shape

(1464, 2)

In [11]:
mean_squared_error(y_test,my_y)

100.25461065573771

In [12]:
np.savetxt("my_decision_tree_results_2016_07_31.csv", my_y, delimiter=",")

In [13]:
index_73_st = np.argwhere(test_data.station_id.values == 73)
index_73_st

array([[   0],
       [ 366],
       [ 732],
       [1098]])

In [15]:
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error

kf = KFold(n_splits=2)
model = DecisionTreeRegressor()

for train_index, test_index in kf.split(X):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    print "Train", X_train.shape, y_train.shape
    print "Test", X_test.shape, y_test.shape
    
    model.fit(X_train, y_train)
    print "MSE: ", mean_squared_error(y_test, model.predict(X_test))

NameError: name 'X' is not defined