In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import glob

In [4]:
allFiles = glob.glob("*.csv")

In [5]:
for _file in allFiles:
    print _file

2015-Q1-Trips-History-Data.csv
2015-Q2-Trips-History-Data.csv
2015-Q3-cabi-trip-history-data.csv
2015-Q4-Trips-History-Data.csv
2016-Q1-Trips-History-Data.csv
2016-Q2-Trips-History-Data.csv
2016-Q3-Trips-History-Data-1.csv
2016-Q3-Trips-History-Data-2.csv
2016-Q4-Trips-History-Data.csv

In [6]:
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_)
    list_.append(df)
frame = pd.concat(list_)

In [7]:
df = frame

In [8]:
df

,Account type,Bike #,Bike number,Duration (ms),End date,End station,End station number,Member Type,Member type,Start date,Start station,Start station number,Subscription Type,Subscription type,Total duration (ms)
0,NaN,NaN,W00612,NaN,1/1/2015 0:42,15th & K St NW,NaN,NaN,NaN,1/1/2015 0:02,Constitution Ave & 2nd St NW/DOL,NaN,Casual,NaN,2394764.0
1,NaN,NaN,W01140,NaN,1/1/2015 0:42,15th & K St NW,NaN,NaN,NaN,1/1/2015 0:02,Constitution Ave & 2nd St NW/DOL,NaN,Casual,NaN,2389161.0
2,NaN,NaN,W01226,NaN,1/1/2015 0:12,20th & O St NW / Dupont South,NaN,NaN,NaN,1/1/2015 0:04,20th & E St NW,NaN,Registered,NaN,468047.0
3,NaN,NaN,W20216,NaN,1/1/2015 0:13,15th & Euclid St NW,NaN,NaN,NaN,1/1/2015 0:07,Park Rd & Holmead Pl NW,NaN,Registered,NaN,348068.0
4,NaN,NaN,W21005,NaN,1/1/2015 0:25,Thomas Circle,NaN,NaN,NaN,1/1/2015 0:09,Jefferson Dr & 14th St SW,NaN,Casual,NaN,980844.0
5,NaN,NaN,W01126,NaN,1/1/2015 0:26,Thomas Circle,NaN,NaN,NaN,1/1/2015 0:10,Jefferson Dr & 14th St SW,NaN,Casual,NaN,932411.0
6,NaN,NaN,W20464,NaN,1/1/2015 0:18,14th & R St NW,NaN,NaN,NaN,1/1/2015 0:12,New York Ave & 15th St NW,NaN,Registered,NaN,387061.0
7,NaN,NaN,W20416,NaN,1/1/2015 0:18,Clarendon Metro / Wilson Blvd & N Highland St,NaN,NaN,NaN,1/1/2015 0:13,Wilson Blvd & N Uhle St,NaN,Registered,NaN,321333.0
8,NaN,NaN,W21343,NaN,1/1/2015 1:01,14th & D St NW / Ronald Reagan Building,NaN,NaN,NaN,1/1/2015 0:17,Jefferson Memorial,NaN,Casual,NaN,2646785.0
9,NaN,NaN,W21178,NaN,1/1/2015 0:21,Thomas Circle,NaN,NaN,NaN,1/1/2015 0:16,17th & Corcoran St NW,NaN,Registered,NaN,294645.0
10,NaN,NaN,W01241,NaN,1/1/2015 0:28,Lamont & Mt Pleasant NW,NaN,NaN,NaN,1/1/2015 0:18,Adams Mill & Columbia Rd NW,NaN,Casual,NaN,607267.0
11,NaN,NaN,W00976,NaN,1/1/2015 0:30,King St Metro,NaN,NaN,NaN,1/1/2015 0:19,Market Square / King St & Royal St,NaN,Casual,NaN,670671.0
12,NaN,NaN,W00494,NaN,1/1/2015 0:30,King St Metro,NaN,NaN,NaN,1/1/2015 0:20,Market Square / King St & Royal St,NaN,Casual,NaN,631332.0
13,NaN,NaN,W01087,NaN,1/1/2015 0:29,1st & Rhode Island Ave NW,NaN,NaN,NaN,1/1/2015 0:20,Columbia Rd & Georgia Ave NW,NaN,Registered,NaN,544248.0
14,NaN,NaN,W00075,NaN,1/1/2015 0:28,Lamont & Mt Pleasant NW,NaN,NaN,NaN,1/1/2015 0:20,Adams Mill & Columbia Rd NW,NaN,Registered,NaN,484599.0
15,NaN,NaN,W00715,NaN,1/1/2015 0:22,11th & M St NW,NaN,NaN,NaN,1/1/2015 0:20,Thomas Circle,NaN,Registered,NaN,116189.0
16,NaN,NaN,W01244,NaN,1/1/2015 0:41,Lynn & 19th St North,NaN,NaN,NaN,1/1/2015 0:21,Jefferson Memorial,NaN,Registered,NaN,1153457.0
17,NaN,NaN,W21894,NaN,1/1/2015 0:33,7th & R St NW / Shaw Library,NaN,NaN,NaN,1/1/2015 0:23,18th St & Wyoming Ave NW,NaN,Registered,NaN,611941.0
18,NaN,NaN,W01222,NaN,1/1/2015 0:29,11th & M St NW,NaN,NaN,NaN,1/1/2015 0:23,15th & P St NW,NaN,Registered,NaN,359778.0
19,NaN,NaN,W21548,NaN,1/1/2015 1:00,14th & D St NW / Ronald Reagan Building,NaN,NaN,NaN,1/1/2015 0:25,Jefferson Memorial,NaN,Casual,NaN,2104479.0
20,NaN,NaN,W00392,NaN,1/1/2015 0:41,34th & Water St NW,NaN,NaN,NaN,1/1/2015 0:25,14th & R St NW,NaN,Registered,NaN,928014.0
21,NaN,NaN,W00219,NaN,1/1/2015 0:42,California St & Florida Ave NW,NaN,NaN,NaN,1/1/2015 0:28,1st & Rhode Island Ave NW,NaN,Registered,NaN,829491.0
22,NaN,NaN,W00258,NaN,1/1/2015 0:39,Adams Mill & Columbia Rd NW,NaN,NaN,NaN,1/1/2015 0:28,Calvert St & Woodley Pl NW,NaN,Registered,NaN,619085.0
23,NaN,NaN,W00521,NaN,1/1/2015 0:37,14th & V St NW,NaN,NaN,NaN,1/1/2015 0:28,20th & O St NW / Dupont South,NaN,Registered,NaN,513312.0
24,NaN,NaN,W21251,NaN,1/1/2015 0:38,Adams Mill & Columbia Rd NW,NaN,NaN,NaN,1/1/2015 0:29,Calvert St & Woodley Pl NW,NaN,Registered,NaN,587230.0
25,NaN,NaN,W20945,NaN,1/1/2015 0:50,20th & E St NW,NaN,NaN,NaN,1/1/2015 0:29,4th & M St SW,NaN,Registered,NaN,1258411.0
26,NaN,NaN,W20894,NaN,1/1/2015 0:36,15th St & Massachusetts Ave SE,NaN,NaN,NaN,1/1/2015 0:31,Eastern Market / 7th & North Carolina Ave SE,NaN,Registered,NaN,325901.0
27,NaN,NaN,W21250,NaN,1/1/2015 0:36,15th St & Massachusetts Ave SE,NaN,NaN,NaN,1/1/2015 0:31,Eastern Market / 7th & North Carolina Ave SE,NaN,Registered,NaN,317482.0
28,NaN,NaN,W21962,NaN,1/1/2015 0:35,US Dept of State / Virginia Ave & 21st St NW,NaN,NaN,NaN,1/1/2015 0:33,21st St & Constitution Ave NW,NaN,Casual,NaN,122895.0
29,NaN,NaN,W21374,NaN,1/1/2015 0:48,Massachusetts Ave & Dupont Circle NW,NaN,NaN,NaN,1/1/2015 0:32,Van Ness Metro / UDC,NaN,Registered,NaN,959800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
771038,NaN,NaN,W22455,1619299.0,10/1/2016 0:32,New York Ave & 15th St NW,31222.0,Casual,NaN,10/1/2016 0:06,Henry Bacon Dr & Lincoln Memorial Circle NW,31289.0,NaN,NaN,NaN
771039,NaN,NaN,W21731,783534.0,10/1/2016 0:19,18th & M St NW,31221.0,Registered,NaN,10/1/2016 0:06,15th & P St NW,31201.0,NaN,NaN,NaN
771040,NaN,NaN,W20482,224111.0,10/1/2016 0:10,14th St & Colorado Ave NW,31407.0,Registered,NaN,10/1/2016 0:06,Georgia & Missouri Ave NW,31411.0,NaN,NaN,NaN
771041,NaN,NaN,W21247,1641925.0,10/1/2016 0:33,New York Ave & 15th St NW,31222.0,Casual,NaN,10/1/2016 0:05,Henry Bacon Dr & Lincoln Memorial Circle NW,31289.0,NaN,NaN,NaN
771042,NaN,NaN,W22554,1045515.0,10/1/2016 0:22,15th St & Massachusetts Ave SE,31626.0,Registered,NaN,10/1/2016 0:05,1st & N St SE,31209.0,NaN,NaN,NaN
771043,NaN,NaN,W23163,1717933.0,10/1/2016 0:33,New York Ave & 15th St NW,31222.0,Casual,NaN,10/1/2016 0:04,Henry Bacon Dr & Lincoln Memorial Circle NW,31289.0,NaN,NaN,NaN
771044,NaN,NaN,W00034,623896.0,10/1/2016 0:14,4th & E St SW,31244.0,Casual,NaN,10/1/2016 0:04,1st & N St SE,31209.0,NaN,NaN,NaN
771045,NaN,NaN,W01265,609119.0,10/1/2016 0:14,4th & E St SW,31244.0,Casual,NaN,10/1/2016 0:04,1st & N St SE,31209.0,NaN,NaN,NaN
771046,NaN,NaN,W20219,594961.0,10/1/2016 0:14,3rd St & Pennsylvania Ave SE,31269.0,Registered,NaN,10/1/2016 0:04,1st & N St SE,31209.0,NaN,NaN,NaN
771047,NaN,NaN,W22373,287073.0,10/1/2016 0:09,3rd & G St SE,31625.0,Registered,NaN,10/1/2016 0:04,M St & New Jersey Ave SE,31208.0,NaN,NaN,NaN
771048,NaN,NaN,W22759,1343301.0,10/1/2016 0:26,18th St & Wyoming Ave NW,31114.0,Casual,NaN,10/1/2016 0:04,14th & Belmont St NW,31119.0,NaN,NaN,NaN
771049,NaN,NaN,W22718,1340116.0,10/1/2016 0:26,18th St & Wyoming Ave NW,31114.0,Casual,NaN,10/1/2016 0:04,14th & Belmont St NW,31119.0,NaN,NaN,NaN
771050,NaN,NaN,W22671,1613312.0,10/1/2016 0:31,17th St & Independence Ave SW,31290.0,Casual,NaN,10/1/2016 0:04,Jefferson Memorial,31249.0,NaN,NaN,NaN
771051,NaN,NaN,W22315,1598135.0,10/1/2016 0:31,17th St & Independence Ave SW,31290.0,Casual,NaN,10/1/2016 0:04,Jefferson Memorial,31249.0,NaN,NaN,NaN
771052,NaN,NaN,W20293,1086779.0,10/1/2016 0:22,15th & F St NE,31632.0,Registered,NaN,10/1/2016 0:04,1st & N St SE,31209.0,NaN,NaN,NaN
771053,NaN,NaN,W22212,37509167.0,10/1/2016 10:28,Washington & Independence Ave SW/HHS,31272.0,Registered,NaN,10/1/2016 0:03,1st & N St SE,31209.0,NaN,NaN,NaN
771054,NaN,NaN,W01003,41975875.0,10/1/2016 11:42,New York Ave & 15th St NW,31222.0,Casual,NaN,10/1/2016 0:03,Jefferson Memorial,31249.0,NaN,NaN,NaN
771055,NaN,NaN,W20930,1102649.0,10/1/2016 0:21,New York Ave & 15th St NW,31222.0,Casual,NaN,10/1/2016 0:03,Jefferson Memorial,31249.0,NaN,NaN,NaN
771056,NaN,NaN,W20954,1763270.0,10/1/2016 0:32,New York Ave & 15th St NW,31222.0,Casual,NaN,10/1/2016 0:03,Henry Bacon Dr & Lincoln Memorial Circle NW,31289.0,NaN,NaN,NaN
771057,NaN,NaN,W00837,126881.0,10/1/2016 0:05,Convention Center / 7th & M St NW,31223.0,Casual,NaN,10/1/2016 0:03,8th & O St NW,31281.0,NaN,NaN,NaN
771058,NaN,NaN,W21188,126068.0,10/1/2016 0:05,Convention Center / 7th & M St NW,31223.0,Casual,NaN,10/1/2016 0:03,8th & O St NW,31281.0,NaN,NaN,NaN
771059,NaN,NaN,W20523,640165.0,10/1/2016 0:14,2nd St & Massachusetts Ave NE,31641.0,Registered,NaN,10/1/2016 0:03,1st & N St SE,31209.0,NaN,NaN,NaN
771060,NaN,NaN,W21871,1186576.0,10/1/2016 0:22,Adams Mill & Columbia Rd NW,31104.0,Casual,NaN,10/1/2016 0:02,14th & Belmont St NW,31119.0,NaN,NaN,NaN
771061,NaN,NaN,W22861,964464.0,10/1/2016 0:18,1st & Rhode Island Ave NW,31506.0,Casual,NaN,10/1/2016 0:02,15th & P St NW,31201.0,NaN,NaN,NaN
771062,NaN,NaN,W01333,743235.0,10/1/2016 0:14,11th & O St NW,31286.0,Registered,NaN,10/1/2016 0:02,North Capitol St & F St NW,31624.0,NaN,NaN,NaN
771063,NaN,NaN,W22702,390417.0,10/1/2016 0:07,13th & H St NE,31611.0,Registered,NaN,10/1/2016 0:01,D St & Maryland Ave NE,31612.0,NaN,NaN,NaN
771064,NaN,NaN,W00131,993889.0,10/1/2016 0:17,Ohio Dr & West Basin Dr SW / MLK & FDR Memorials,31240.0,Registered,NaN,10/1/2016 0:00,M St & Pennsylvania Ave NW,31246.0,NaN,NaN,NaN
771065,NaN,NaN,W22460,653535.0,10/1/2016 0:11,Lynn & 19th St North,31014.0,Registered,NaN,10/1/2016 0:00,M St & Pennsylvania Ave NW,31246.0,NaN,NaN,NaN
771066,NaN,NaN,W21072,378324.0,10/1/2016 0:06,5th St & Massachusetts Ave NW,31265.0,Registered,NaN,10/1/2016 0:00,10th & E St NW,31256.0,NaN,NaN,NaN
771067,NaN,NaN,W00091,426271.0,10/1/2016 0:07,11th & S St NW,31280.0,Casual,NaN,10/1/2016 0:00,11th & Kenyon St NW,31102.0,NaN,NaN,NaN

In [9]:
df_m = df.as_matrix(columns = ["Start date", "End date","Start station", "End station"])

In [10]:
df_m

array([['1/1/2015 0:02', '1/1/2015 0:42',
        'Constitution Ave & 2nd St NW/DOL', '15th & K St NW'],
       ['1/1/2015 0:02', '1/1/2015 0:42',
        'Constitution Ave & 2nd St NW/DOL', '15th & K St NW'],
       ['1/1/2015 0:04', '1/1/2015 0:12', '20th & E St NW',
        '20th & O St NW / Dupont South'],
       ...,
       ['10/1/2016 0:00', '10/1/2016 0:11', 'M St & Pennsylvania Ave NW',
        'Lynn & 19th St North'],
       ['10/1/2016 0:00', '10/1/2016 0:06', '10th & E St NW',
        '5th St & Massachusetts Ave NW'],
       ['10/1/2016 0:00', '10/1/2016 0:07', '11th & Kenyon St NW',
        '11th & S St NW']], dtype=object)

In [11]:
import datetime

In [12]:
for i in xrange(df_m.shape[0]):
    df_m[i][0] = datetime.datetime.strptime(df_m[i][0], '%m/%d/%Y %H:%M')
    df_m[i][1] = datetime.datetime.strptime(df_m[i][1], '%m/%d/%Y %H:%M')

In [13]:
base = datetime.datetime.strptime("12/20/2014", '%m/%d/%Y')
date_list1 = [base + datetime.timedelta(hours = x) for x in range(0,380*2*24, 6)]

In [14]:
number_of_stations = len(list(set(df_m[:,2])))

In [15]:
stations =list(set(df_m[:,2]))

In [16]:
len(date_list1)

3040

In [17]:
number_of_stations

450

In [18]:
date_list = []
for i in (date_list1):
    for j in range(number_of_stations):
        date_list.append(i)

In [19]:
stations = stations *len(date_list1)

In [20]:
input_arr = [0 for i in xrange(number_of_stations*len(date_list1))]

In [21]:
output_arr = [0 for i in xrange(number_of_stations*len(date_list1))]

In [22]:
print (len(input_arr), len(output_arr), len (stations), len(date_list))

(1368000, 1368000, 1368000, 1368000)

In [23]:
input_arr = np.array(input_arr)

In [24]:
output_arr = np.array(output_arr)

In [25]:
stations =np.array(stations)

In [26]:
date_list = np.array(date_list)

In [27]:
#out
for i in xrange(len(df_m[:, 0])):
    if ((i%100000)==0):
        print i
    j =0
    while(j<len(input_arr)):  
        date1 =(df_m[i][1] - date_list[j])
        if (((date1.days == 0) and (date1.seconds<21600)) and (df_m[i][3] == stations[j])):
            output_arr[j] = output_arr[j]+1
            break
        if ((date1.seconds>=21600) or (date1.days != 0)):
            j+=number_of_stations
        else:
            j+=1

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000

In [28]:
#in
for i in xrange(len(df_m[:, 0])):
    if ((i%100000)==0):
        print i
    j =0
    while(j<len(input_arr)):  
        date2 = (df_m[i][0] - date_list[j])
        if (((date2.days == 0) and(date2.seconds<21600)) and (df_m[i][2] == stations[j])):
            input_arr[j] = input_arr[j]+1
            break
        if ((date2.seconds>=21600) or (date2.days != 0)):
            j+=number_of_stations
        else:
            j+=1

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000
6100000
6200000
6300000
6400000
6500000

In [29]:
df_i = pd.DataFrame({'date' : date_list,'Station Number' : stations, "Output":output_arr, "Input":input_arr})

In [30]:
df_i.to_csv("2015-2016fixed_final.csv", sep=";")

In [31]:
summa=sum(input_arr)+sum(output_arr)

In [34]:
summa/2

6526694

In [50]:
del df_i

In [39]:
df_n = pd.read_csv("2015-2016.csv", sep =";")

In [46]:
input_arr[len(input_arr)-500]

0

In [28]:
output_arr[-1200]

0

In [34]:
sum(output_arr)

6526694

In [40]:
df_n.head()

   Unnamed: 0  Input  Output              Station Number                 date
0           0      0       0  Tysons West Transit Center  2014-12-20 00:00:00
1           1      2       0   S Abingdon St & 36th St S  2014-12-20 00:00:00
2           2      0       2       61st St & Banks Pl NE  2014-12-20 00:00:00
3           3     65      70         12th & Newton St NE  2014-12-20 00:00:00
4           4    262     125   Wilson Blvd & Franklin Rd  2014-12-20 00:00:00

In [35]:
sum(output_arr)

6526694

In [ ]:
list(df["Start date"][0])[0]

In [ ]:
date1 =datetime.datetime.strptime(list(df["Start date"][0])[0], '%m/%d/%Y %H:%M')

In [ ]:
date1

In [ ]:
date2 =datetime.datetime.strptime(list(df["Start date"][10])[0], '%m/%d/%Y %H:%M')

In [ ]:
date2

In [ ]:
(date2-date1).seconds

In [ ]:
960/60

In [ ]:
date_time_interval = [6,6,6,6]

In [ ]:
date_list1 = []
for d in date_list:
    str1= str(d.month)+"/"+str(d.day)+"/"+str(d.year)
    for i in xrange(len(num_of_station)):
        date_list1.append(str1)

In [ ]:


for i in range(10):
    print date_list1[i]

In [ ]:
number_station = []
for i in range(len(date_list)):
    for j in num_of_station:
        number_station.append(j)

In [ ]:
len(date_list1)

In [ ]:
len(number_station)

In [ ]:
df_o = pd.DataFrame({'date' : date_list1,'Station Number' : number_station, 'Input':[0 for i in xrange(len(number_station))], "Output":[0 for i in xrange(len(number_station))]})

In [ ]:
df_o.head(371)

In [ ]:
out_date = list(df_o["date"])
input_data = list(df_o["Input"])
output_data=list(df_o["Output"])
out_station_number = list(df_o["Station Number"])
in_start_date = list(df["Start date"])
in_end_date = list(df["End date"])
in_start_station = list(df["Start station number"])
out_start_station = list(df["End station number"])

In [ ]:
len(df["Start date"])

In [ ]:
len(number_station)

In [ ]:
len(out_date)

In [ ]:
len1 = len(df["Start date"])

In [ ]:
len2 = len(out_date)

In [ ]:
for i in xrange(len1):
    if ((i%100000)==0):
        print i
    j =0
    while(j<len2):
        
        if ((out_date[j] == in_start_date[i]) and (out_station_number[j] == in_start_station[i])): 
            #print out_date[j]
            output_data[j]=output_data[j]+1
            break
            #print j
        if ((out_date[j] != in_start_date[i])):
            j+=len(num_of_station)
        else:
            j+=1

In [ ]:
for i in xrange(len1):
    if ((i%100000)==0):
        print i
    j =0
    while(j<len2):
        if ((out_date[j] == in_end_date[i]) and (out_station_number[j] == out_start_station[i])): 
            #print out_date[j]
            input_data[j]=input_data[j]+1
            break
            #print j
        if ((out_date[j] != in_end_date[i])):
            j+=len(num_of_station)
        else:
            j+=1

In [ ]:
for i in range(10):
    print input_data[i]

In [ ]:
df_o["Input"] =input_data
df_o["Output"] = output_data

In [ ]:
df_o.head(5)

In [ ]:
df_o.to_csv("2016_all.csv", ";")

In [ ]:
%%timeit

i=0
for j in xrange(len(number_station)):
        if ((out_date[j] == in_start_date[i]) and (out_station_number[j] == in_start_station[i])): 
            output_data[j]=output_data[j]+1
        if ((out_date[j] == in_end_date[i]) and (out_station_number[j] == out_start_station[i])): 
            input_data[j]=input_data[j]+1

In [ ]:
list_of_station = []
list_of_station1 = []
for i in df["Start station"]:
    list_of_station.append(i)
for i in df["End station"]:
    list_of_station.append(i)
for i in set(list_of_station):
    list_of_station1.append(i)

In [ ]:
for i in list_of_station1:
    print i

In [ ]:
str(date_list[0].year)+"/"

In [ ]:
datetime_object1 = datetime.datetime.strptime(df["Start date"][0], '%m/%d/%Y %H:%M')

In [ ]:
datetime_object1

In [ ]:
date(df["Start date"]

In [ ]:
df['Start date'][0]

In [ ]:
df['Start date'][2]

In [ ]:
time(df['Start date'][0])

In [ ]:
from datetime import datetime

In [ ]:
datetime_object = datetime.strptime('3/31/2016 1:1', '%m/%d/%Y %H:%M')

In [ ]:
datetime_object

In [ ]:
datetime_object = datetime.strptime(df['Start date'][0], '%m/%d/%Y %H:%M')

In [ ]:
for i in ra

In [ ]:
datetime_object1 = datetime.strptime('3/31/2016 1:1', '%m/%d/%Y %H:%M')

In [ ]:
datetime_object2 = datetime.strptime('3/30/2016 1:1', '%m/%d/%Y %H:%M')

In [ ]:
datetime_object1- datetime_object2

In [ ]:
datetime.timedelta(1)